@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #c1c0be; } }

body {
  margin: 0;
  background-color: #0d0a12; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.g_content_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 10; }
  .g_content_navbar .g_nav_item ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 20px; }
    .g_content_navbar .g_nav_item ul li a {
      font-family: "Source Code Pro", monospace;
      text-decoration: none;
      color: #94a3b8;
      font-size: 18px;
      text-transform: uppercase; }
      .g_content_navbar .g_nav_item ul li a:hover {
        color: white; }
  @media screen and (max-width: 768px) {
    .g_content_navbar .g_content_navbar {
      display: grid;
      justify-content: center;
      align-items: center;
      padding: 0 10px; }
    .g_content_navbar .g_nav_item ul {
      flex-direction: row; } }

.g_content_navbar_alt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
  background-color: transparent; }
  .g_content_navbar_alt .alt_nv_logo {
    max-height: 100%;
    border-radius: 15px;
    height: 88px;
    margin-top: 30px;
    margin-left: 250px;
    height: 70px; }
  .g_content_navbar_alt .g_nav_item_alt ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 30px;
    margin-right: 250px; }
    .g_content_navbar_alt .g_nav_item_alt ul li a {
      font-family: "Source Code Pro", monospace;
      text-decoration: none;
      color: #94a3b8;
      font-size: 18px;
      text-transform: uppercase; }
      .g_content_navbar_alt .g_nav_item_alt ul li a:hover {
        color: white; }
  @media screen and (max-width: 1200px) {
    .g_content_navbar_alt {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "logo" "links";
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 0 0; }
      .g_content_navbar_alt .alt_nv_logo {
        grid-area: logo;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 12px; }
      .g_content_navbar_alt .g_nav_item_alt ul {
        grid-area: links;
        justify-content: center;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0; } }

.g-footer {
  background-image: linear-gradient(to right, #c04848, #480048);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%; }
  .g-footer p {
    color: rgba(232, 230, 227, 0.7);
    font-family: "Source Code Pro", monospace; }
    .g-footer p a {
      color: white;
      text-decoration: none; }
  .g-footer .f-links {
    margin-bottom: 25px; }
    .g-footer .f-links li {
      display: inline-block;
      list-style-type: none; }
      .g-footer .f-links li a {
        color: white;
        text-decoration: none;
        font-family: "Source Code Pro", monospace;
        margin-left: 25px; }
  .g-footer .favicons {
    margin-bottom: 30px;
    list-style: none;
    padding: 0; }
    .g-footer .favicons li {
      display: inline-block;
      margin-right: -5px; }
      .g-footer .favicons li a {
        color: #eb8989;
        text-decoration: none;
        font-size: 28px; }
        .g-footer .favicons li a .fa-stack {
          font-size: 18px; }
          .g-footer .favicons li a .fa-stack:hover {
            transform: translate(0, -16%);
            transition: transform 0.3s ease; }

.content {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden; }
  .content .header_video {
    z-index: -999;
    width: 1000%;
    height: 100%;
    padding-bottom: 56.25%;
    position: absolute; }
    .content .header_video iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%; }
      @media (max-width: 991px) {
        .content .header_video iframe {
          height: 100vw;
          width: 100vw; } }

.header_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: "Source Code Pro", monospace;
  padding: 10px 20px;
  z-index: 2;
  background: radial-gradient(circle, #20678f 20%, #0f567a 47%, #115271 57%, #25627d 66%, #243f82 88%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }
  .header_title:hover {
    transition: transform 0.3s ease;
    transform: translate(-50%, -65%); }

.blog-pg-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px; }

.blog-id-content {
  max-width: 100%;
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto; }
  .blog-id-content video {
    max-width: 70%;
    border-radius: 16px; }
  .blog-id-content h1 {
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: 28px;
    text-align: center;
    z-index: 1; }

@media screen and (max-width: 767px) {
  .blog-id-content {
    margin: 10px;
    display: flex;
    justify-content: center; }
    .blog-id-content video {
      max-width: 100%;
      margin-top: 30px; }
    .blog-id-content h1 {
      top: 22.5%;
      font-size: 15px;
      width: 1000px; } }

@media screen and (max-width: 1200px) {
  .blog-id-content {
    margin: 10px;
    display: flex;
    justify-content: center; }
    .blog-id-content video {
      max-width: 100%;
      margin-top: 30px; }
    .blog-id-content h1 {
      top: 22.5%;
      font-size: 15px;
      width: 1000px; } }

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .blog-id-content {
    display: flex;
    justify-content: center; }
    .blog-id-content video {
      max-width: 100%; }
    .blog-id-content h1 {
      top: 22.5%;
      font-size: 15px;
      width: 1000px; } }

.blog-id-title h2 {
  font-family: "Inter", sans-serif;
  color: #d2cec8;
  font-size: 30px;
  margin-bottom: 35px; }

._blog-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 65px;
  margin-bottom: 30px; }

@media (max-width: 768px) {
  ._blog-articles {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); } }

._article-card-item {
  position: relative;
  background-color: #1c1e1f;
  border-radius: 10px;
  overflow: hidden;
  max-width: 340px;
  transition: transform 0.3s ease; }
  ._article-card-item:hover {
    transform: translateY(-10px);
    box-shadow: #9c739c 0px 0px 30px; }

.card_img {
  width: 100%;
  border-radius: 10px 10px 0 0; }

.card-info {
  padding: 20px; }

button {
  padding: 5px 10px;
  background: linear-gradient(to right, #c04848, #480048);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: "Source Code Pro", monospace;
  font-size: 10px;
  margin-bottom: 8px;
  margin-right: 4px; }

h3 {
  color: #d2cec8;
  font-family: "Inter", sans-serif; }

p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #d2cec8;
  max-height: 160px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 18px; }

.read_href {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 8px;
  margin-right: 10px;
  color: #aba7a3;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-decoration: none; }
  .read_href:hover {
    color: #9c739c; }

._about-pg-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px; }
  ._about-pg-content ._about-pg-title {
    color: white;
    font-family: "Source Code Pro", monospace;
    font-size: 20px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px; }
  ._about-pg-content ._about-pg-cards {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-areas: "about-card" "about-ghc" "about-card1" "about-vp" "about-card2" "about-vp2" "about-card3";
    width: 60%;
    margin-top: -20px;
    margin-bottom: 40px; }
  ._about-pg-content ._about-ghc {
    grid-area: about-ghc; }
    ._about-pg-content ._about-ghc h2 {
      color: white;
      text-align: center;
      font-family: "Source Code Pro", monospace;
      font-size: 20px;
      margin: 0 auto; }
  ._about-pg-content ._about-vp {
    grid-area: about-vp; }
    ._about-pg-content ._about-vp h2 {
      color: white;
      text-align: center;
      font-family: "Source Code Pro", monospace;
      font-size: 20px; }
  ._about-pg-content ._about-vp2 {
    grid-area: about-vp2; }
    ._about-pg-content ._about-vp2 h2 {
      color: white;
      text-align: center;
      font-family: "Source Code Pro", monospace;
      font-size: 20px; }
  ._about-pg-content .about-card {
    grid-area: about-card;
    background-color: #0a101f, 0.8;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    margin-bottom: -10px;
    -webkit-box-shadow: 0px 4px 6px 2px #c15f5f;
    transition: transform 0.3s ease; }
    ._about-pg-content .about-card:hover {
      transform: translateY(-10px); }
    ._about-pg-content .about-card p {
      text-align: start;
      font-family: "Source Code Pro", monospace;
      font-size: 12px;
      margin-top: 15px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 20px;
      max-height: none;
      overflow: visible;
      white-space: normal;
      overflow: hidden;
      border-right: 0.15em solid #aeaeae;
      letter-spacing: .15em;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }
  ._about-pg-content .about-card1 {
    grid-area: about-card1;
    background-color: #0a101f, 0.8;
    margin-bottom: 30px;
    width: 80%;
    height: 100%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 6px 2px #c15f5f;
    transition: transform 0.3s ease; }
    ._about-pg-content .about-card1:hover {
      transform: translateY(-10px); }
    ._about-pg-content .about-card1 p {
      text-align: start;
      font-family: "Source Code Pro", monospace;
      font-size: 12px;
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 3px;
      max-height: none;
      overflow: visible;
      white-space: normal;
      overflow: hidden;
      border-right: 0.15em solid #aeaeae;
      letter-spacing: .15em;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }
  ._about-pg-content .about-card2 {
    grid-area: about-card2;
    background-color: #0a101f, 0.8;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
    height: 90%;
    border-radius: 10px;
    -webkit-box-shadow: 0px 4px 6px 2px #c15f5f;
    transition: transform 0.3s ease; }
    ._about-pg-content .about-card2:hover {
      transform: translateY(-10px); }
    ._about-pg-content .about-card2 p {
      text-align: start;
      font-family: "Source Code Pro", monospace;
      font-size: 12px;
      margin-top: 30px;
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 3px;
      max-height: none;
      overflow: visible;
      white-space: normal;
      overflow: hidden;
      border-right: 0.15em solid #aeaeae;
      letter-spacing: .15em;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }
  ._about-pg-content .about-card3 {
    grid-area: about-card3;
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 80%;
    border-radius: 10px;
    overflow: hidden;
    background-color: #0a101f, 0.8;
    -webkit-box-shadow: 0px 4px 6px 2px #c15f5f;
    backdrop-filter: blur(6px);
    transition: transform 0.3s ease; }
    ._about-pg-content .about-card3:hover {
      transform: translateY(-10px); }
    ._about-pg-content .about-card3 p {
      text-align: start;
      font-family: "Source Code Pro", monospace;
      font-size: 12px;
      margin: 20px;
      margin-bottom: 20px;
      max-height: none;
      overflow: visible;
      white-space: normal;
      overflow: hidden;
      border-right: 0.15em solid #aeaeae;
      letter-spacing: .15em;
      animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite; }
