@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@keyframes typing {
  from {
    width: 0; }
  to {
    width: 100%; } }

@keyframes blink-caret {
  from,
  to {
    border-color: transparent; }
  50% {
    border-color: #c1c0be; } }

body {
  margin: 0;
  background: linear-gradient(135deg, #2b1d36, #26162b, #3a213a, #29192d, #3b223b); }

.resp-grid, ._article-selector {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); }

.pjt-desc, ._projects-glasscard .header .text-content .date {
  color: #94a3b8;
  font: "Inter", sans-serif; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.g_content_navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  z-index: 10; }
  .g_content_navbar .g_nav_item ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 20px; }
    .g_content_navbar .g_nav_item ul li a {
      font-family: "Source Code Pro", monospace;
      text-decoration: none;
      color: #94a3b8;
      font-size: 18px;
      text-transform: uppercase; }
      .g_content_navbar .g_nav_item ul li a:hover {
        color: white; }
  @media screen and (max-width: 768px) {
    .g_content_navbar .g_content_navbar {
      display: grid;
      justify-content: center;
      align-items: center;
      padding: 0 10px; }
    .g_content_navbar .g_nav_item ul {
      flex-direction: row; } }

.g_content_navbar_alt {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  z-index: 10;
  background-color: transparent; }
  .g_content_navbar_alt .alt_nv_logo {
    max-height: 100%;
    border-radius: 15px;
    height: 88px;
    margin-top: 30px;
    margin-left: 250px;
    height: 70px; }
  .g_content_navbar_alt .g_nav_item_alt ul {
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px;
    list-style: none;
    margin-top: 30px;
    margin-right: 250px; }
    .g_content_navbar_alt .g_nav_item_alt ul li a {
      font-family: "Source Code Pro", monospace;
      text-decoration: none;
      color: #94a3b8;
      font-size: 18px;
      text-transform: uppercase; }
      .g_content_navbar_alt .g_nav_item_alt ul li a:hover {
        color: white; }
  @media screen and (max-width: 1200px) {
    .g_content_navbar_alt {
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-areas: "logo" "links";
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 0 0; }
      .g_content_navbar_alt .alt_nv_logo {
        grid-area: logo;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        margin-bottom: 12px; }
      .g_content_navbar_alt .g_nav_item_alt ul {
        grid-area: links;
        justify-content: center;
        margin-top: 10px;
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 0;
        margin: 0; } }

.g-footer {
  background-image: linear-gradient(to right, #c04848, #480048);
  color: #fff;
  padding: 20px;
  text-align: center;
  position: relative;
  bottom: 0;
  width: 100%; }
  .g-footer p {
    color: rgba(232, 230, 227, 0.7);
    font-family: "Source Code Pro", monospace; }
    .g-footer p a {
      color: white;
      text-decoration: none; }
  .g-footer .f-links {
    margin-bottom: 25px; }
    .g-footer .f-links li {
      display: inline-block;
      list-style-type: none; }
      .g-footer .f-links li a {
        color: white;
        text-decoration: none;
        font-family: "Source Code Pro", monospace;
        margin-left: 25px; }
  .g-footer .favicons {
    margin-bottom: 30px;
    list-style: none;
    padding: 0; }
    .g-footer .favicons li {
      display: inline-block;
      margin-right: -5px; }
      .g-footer .favicons li a {
        color: #94a3b8;
        text-decoration: none;
        font-size: 28px; }
        .g-footer .favicons li a .fa-stack {
          font-size: 18px; }
          .g-footer .favicons li a .fa-stack:hover {
            transform: translate(0, -16%);
            transition: transform 0.3s ease; }

.content {
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden; }
  .content .header_video {
    z-index: -999;
    width: 1000%;
    height: 100%;
    padding-bottom: 56.25%;
    position: absolute;
    mix-blend-mode: screen; }
    .content .header_video iframe {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0%;
      bottom: 0%;
      left: 0%;
      right: 0%; }
      @media (max-width: 991px) {
        .content .header_video iframe {
          height: 100vw;
          width: 100vw; } }

.header_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-family: "Source Code Pro", monospace;
  padding: 10px 20px;
  z-index: 2;
  background: radial-gradient(circle, #fbfbfb 20%, white 47%, white 57%, white 66%, white 88%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent; }
  .header_title:hover {
    transition: transform 0.3s ease;
    transform: translate(-50%, -65%); }

.blog-pg-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px; }

.blog-id-content .blog-ttl {
  color: #94a3b8;
  font-family: "Inter", sans-serif;
  font-size: 30px;
  text-align: center;
  margin-top: 20px; }

._article-selector {
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px; }

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px; }
  .card:hover {
    box-shadow: rgba(167, 119, 206, 0.35) 0px 5px 15px; }
  .card img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease; }
  .card .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.3s ease; }
  .card ._article-type {
    font-family: "Inter", sans-serif;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px; }
  .card:hover img {
    transform: scale(1.1); }
  .card:hover .video {
    opacity: 1; }
  .card iframe {
    pointer-events: none; }

@media screen and (max-width: 768px) {
  ._article-selector {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }
  .blog-ttl {
    font-size: 10px; } }

@media screen and (max-width: 480px) {
  ._article-selector {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); }
  .blog-ttl {
    font-size: 10px; } }

.blog-id-title h2 {
  font-family: "Inter", sans-serif;
  color: #94a3b8;
  font-size: 28px;
  margin-bottom: 35px;
  text-align: center; }

._blog-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 65px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px; }

@media (max-width: 768px) {
  ._blog-articles {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr)); } }

._article-card-item {
  position: relative;
  background-color: #1c1e1f;
  border-radius: 10px;
  overflow: hidden;
  max-width: 340px;
  transition: transform 0.3s ease; }
  ._article-card-item:hover {
    transform: translateY(-10px);
    box-shadow: rgba(167, 119, 206, 0.35) 0px 5px 15px; }

.card_img {
  width: 100%;
  border-radius: 10px 10px 0 0; }

.card-info {
  padding: 20px; }

button {
  padding: 5px 10px;
  background: linear-gradient(to right, #793c61, #3c1053);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: "Source Code Pro", monospace;
  font-size: 10px;
  margin-bottom: 8px;
  margin-right: 4px; }

h3 {
  color: #d2cec8;
  font-family: "Inter", sans-serif; }

p {
  font-family: "Inter", sans-serif;
  font-size: 13px;
  color: #d2cec8;
  max-height: 160px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 18px; }

.read_href {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 8px;
  margin-right: 10px;
  color: #aba7a3;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-decoration: none; }
  .read_href:hover {
    color: #ab4fab; }

._about-pg-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px; }

._profile-card {
  position: relative;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(178, 100, 173, 0.352);
  transition: box-shadow 0.3s ease;
  background-color: #1c1e1f;
  font-family: "Source Code Pro", monospace;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 0.5s ease, box-shadow 0.5s ease; }
  ._profile-card ._profile-cover-banner {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px; }
    ._profile-card ._profile-cover-banner img {
      width: 100%;
      height: auto;
      display: block;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px; }
  ._profile-card ._card-pfp {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 150px;
    z-index: 2;
    overflow: hidden;
    transform: translateX(-50%); }
    ._profile-card ._card-pfp img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px; }
  ._profile-card ._profile-social-icons {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    z-index: 3; }
    ._profile-card ._profile-social-icons i {
      font-size: 24px;
      color: #94a3b8;
      margin: 0 15px;
      cursor: pointer;
      transition: transform 0.3s ease; }
      ._profile-card ._profile-social-icons i:hover {
        transform: translateY(-3px); }
  ._profile-card ._pf-card-description {
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 3; }
    ._profile-card ._pf-card-description h2 {
      margin-bottom: 10px;
      font-family: "Inter", sans-serif;
      color: #94a3b8; }
    ._profile-card ._pf-card-description p {
      margin-top: 0;
      font-family: "Source Code Pro", monospace;
      color: #aba7a3; }
  ._profile-card:hover {
    transform: translateY(-5px);
    box-shadow: rgba(167, 119, 206, 0.35) 0px 5px 15px; }
  @media screen and (max-width: 768px) {
    ._profile-card ._card-pfp {
      left: 50%;
      transform: translateX(-50%); } }

._abt-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-left: 80px;
  margin-right: 80px; }

._abt-cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px; }

._abt-txt-cd {
  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.5s ease, box-shadow 0.5s ease; }
  ._abt-txt-cd:hover {
    transform: translateY(-5px);
    box-shadow: rgba(167, 119, 206, 0.35) 0px 5px 15px; }
  ._abt-txt-cd ._abt-txt-h2 {
    color: #94a3b8;
    font-family: "Source Code Pro", monospace; }
  ._abt-txt-cd ._abt-p {
    font-family: "Source Code Pro", monospace;
    margin-bottom: 15px;
    color: #aba7a3;
    font-size: 14px; }

._abt-form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  margin-bottom: 40px; }
  ._abt-form-container ._form-ttl {
    color: #94a3b8;
    font-family: "Source Code Pro", monospace;
    margin-bottom: 10px; }
  ._abt-form-container ._abt-form {
    width: 100%;
    max-width: 16s00px; }
    ._abt-form-container ._abt-form ._glass-form {
      background: rgba(255, 255, 255, 0.15);
      backdrop-filter: blur(10px);
      border-radius: 10px;
      padding: 20px;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(800px, 1fr));
      gap: 20px;
      max-width: 1600px;
      transition: transform 0.5s ease, box-shadow 0.5s ease; }
      ._abt-form-container ._abt-form ._glass-form:hover {
        transform: translateY(-5px);
        box-shadow: rgba(167, 119, 206, 0.35) 0px 5px 15px; }
      ._abt-form-container ._abt-form ._glass-form .form-group {
        display: flex;
        flex-direction: column; }
        ._abt-form-container ._abt-form ._glass-form .form-group label {
          margin-bottom: 5px;
          color: #fff;
          font-family: "Source Code Pro", monospace; }
        ._abt-form-container ._abt-form ._glass-form .form-group input[type="text"],
        ._abt-form-container ._abt-form ._glass-form .form-group input[type="email"],
        ._abt-form-container ._abt-form ._glass-form .form-group textarea {
          padding: 10px;
          border-radius: 5px;
          border: none;
          background: rgba(255, 255, 255, 0.1);
          color: #fff;
          font-family: "Source Code Pro", monospace; }
      ._abt-form-container ._abt-form ._glass-form button {
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        color: #fff;
        cursor: pointer; }
      @media screen and (max-width: 768px) {
        ._abt-form-container ._abt-form ._glass-form {
          grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
          max-width: 600px; } }

._projects-content {
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px; }
  ._projects-content h1 {
    font-family: "Source Code Pro", monospace;
    color: #94a3b8;
    font-size: 1.5em;
    margin-bottom: 20px;
    text-align: center; }

._projects-gridmg {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 800px;
  gap: 20px; }

._projects-glasscard {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  backdrop-filter: blur(10px);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  overflow: hidden;
  transition: transform 0.3s ease, box-shadow 0.3s ease; }
  ._projects-glasscard:hover {
    transform: translateY(-5px);
    box-shadow: rgba(167, 119, 206, 0.35) 0px 5px 15px; }
  ._projects-glasscard .header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 10px; }
    ._projects-glasscard .header .logo {
      width: 100px;
      height: auto;
      margin-right: 20px; }
    ._projects-glasscard .header .text-content {
      display: flex;
      flex-direction: column;
      align-items: flex-start; }
      ._projects-glasscard .header .text-content .title {
        font-size: 1.5em;
        margin: 0;
        font-family: "Source Code Pro", monospace;
        color: white; }
      ._projects-glasscard .header .text-content .date {
        font-size: 0.9em;
        margin-top: 2px; }
      ._projects-glasscard .header .text-content .description {
        font-family: "Source Code Pro", monospace;
        font-size: 0.9em; }
  ._projects-glasscard .language {
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: flex-end; }
    ._projects-glasscard .language p {
      font-family: "Source Code Pro", monospace;
      font-size: 0.9em;
      color: #94a3b8;
      margin: 0; }
      ._projects-glasscard .language p svg {
        width: 25px;
        height: 25px;
        margin-left: 5px; }
  ._projects-glasscard .media {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 10px;
    margin-top: 10px; }
    ._projects-glasscard .media .image,
    ._projects-glasscard .media .video {
      width: 100%;
      height: auto;
      border-radius: 10px;
      box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
      object-fit: cover; }
