$sd_blue: #94a3b8;
$sd_hover_blue: #5898c0;
$sd_card_blue: #0a101f;
$sd_body_blue: #030712;
$sd_favicons: rgb(93, 218, 236);
$sd_title: rgb(210, 206, 200);
$sd_href: rgb(171, 167, 163);
$card_bg: rgb(28, 30, 31);