// base colors
$sd_blue: #94a3b8;
$sd_hover_blue: #5898c0;
$sd_card_blue: #0a101f;
$sd_body_blue: #030712;
$sd_favicons: #eb8989;
$sd_title: rgb(210, 206, 200);
$sd_href: rgb(171, 167, 163);
$card_bg: rgb(28, 30, 31);
$site-bg: #0d0a12;
$icon-blue: rgb(119, 165, 228);
$bg-blue: rgb(15, 23, 42);
$crd-box-shadow: #5f94d8;