._about-pg-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

._profile-card {
  position: relative;
  width: 300px;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(178, 100, 173, 0.352);
  transition: box-shadow 0.3s ease;
  background-color: $card_bg;
  font-family: $src_code_pro;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: transform 0.3s ease;

  ._profile-cover-banner {
    position: relative;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    img {
      width: 100%;
      height: auto;
      display: block;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }
  }

  ._card-pfp {
    width: 100px;
    height: 100px;
    position: absolute;
    top: 40px;
    left: 150px;
    z-index: 2;
    overflow: hidden;
    transform: translateX(-50%);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }

  ._profile-social-icons {
    position: relative;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    z-index: 3;

    i {
      font-size: 24px;
      color: $icon-blue;
      margin: 0 15px;
      cursor: pointer;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-3px);
      }
    }
  }

  ._pf-card-description {
    padding: 20px;
    text-align: center;
    position: relative;
    z-index: 3;

    h2 {
      margin-bottom: 10px;
      font-family: $inter;
      color: $sd_blue;
    }

    p {
      margin-top: 0;
      font-family: $src_code_pro;
      color: $sd_href;
    }
  }

  &:hover {
    box-shadow: 0 8px 12px rgba(182, 106, 189, 0.522);
    transform: translateY(-10px);
  }

  @media screen and (max-width: 768px) {
      ._card-pfp {
        left: 50%;
        transform: translateX(-50%);
      }
    }
  }




  // about cards
  .about-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 2fr));
    gap: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 30px;
    max-width: 80%;
  }

  .about-card {
    border-radius: 10px;
    overflow: hidden;
    background-color: $card_bg;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-10px);
      box-shadow: rgba(167, 119, 206, 0.35) 0px 5px 15px;
    }
  }

  .about-card__image {
    width: 100%;
    height: 200px;
    overflow: hidden;
  }

  .about-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .about-card__content {
    padding: 20px;
  }

  .about-card__content button {
    padding: 5px 10px;
    background: linear-gradient(to right, #793c61, #3c1053);
    color: #fff;
    border: none;
    border-radius: 8px;
    font-family: $src_code_pro;
    font-size: 10px;
    margin-bottom: 8px;
    margin-right: 4px;
  }

  .about-card__content h3 {
    color: $sd_title;
    font-family: $inter;
  }

  .about-card__content p {
    font-family: $inter;
    font-size: 13px;
    color: $sd_title;
    overflow: hidden;
    margin-top: 8px;
    margin-bottom: 18px;
  }

  .about-card__content a {
    color: $sd_href;
    font-family: $inter;
    font-size: 14px;
    text-decoration: none;
  }

  .about-card__content a:hover {
    color: $crd-box-shadow;
  }