// container
.blog-pg-main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 100px;
}

.blog-id-content {
  .blog-ttl {
    color: $sd_blue;
    font-family: $inter;
    font-size: 30px;
    text-align: center;
    margin-top: 20px;
  }
}

// article category selector grid
._article-selector {
  @extend .resp-grid;
  gap: 10px;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;
}

.card {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  &:hover {
    box-shadow: rgba(167, 119, 206, 0.35) 0px 5px 15px;
  }
  img {
    width: 100%;
    height: auto;
    display: block;
    transition: transform 0.3s ease;
  }
  .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    border-radius: 10px;
    transition: opacity 0.3s ease;
  }
  ._article-type {
    font-family: $inter;
    text-transform: uppercase;
    position: absolute;
    bottom: 10px;
    left: 10px;
    color: white;
    font-size: 16px;
  }
  &:hover {
    img {
      transform: scale(1.1);
    }
    .video {
      opacity: 1;
    }
  }
  iframe {
    pointer-events: none;
  }
}

// article category selector media queries
@media screen and (max-width: 768px) {
  ._article-selector {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .blog-ttl {
    font-size: 10px;
  }
}

@media screen and (max-width: 480px) {
  ._article-selector {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
  .blog-ttl {
    font-size: 10px;
  }
}

// titles and cards
.blog-id-title {
  h2 {
    font-family: $inter;
    color: $sd_blue;
    font-size: 28px;
    margin-bottom: 35px;
    text-align: center;
  }
}


// card settings
._blog-articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 65px;
  margin-bottom: 30px;
  margin-left: 15px;
  margin-right: 15px;
}

@media (max-width: 768px) {
  ._blog-articles {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

._article-card-item {
  position: relative;
  background-color: $card_bg;
  border-radius: 10px;
  overflow: hidden;
  max-width: 340px;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-10px);
    box-shadow: rgba(167, 119, 206, 0.35) 0px 5px 15px;
  }
}

.card_img {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-info {
  padding: 20px;
}

button {
  padding: 5px 10px;
  background: linear-gradient(to right, #793c61, #3c1053);
  color: #fff;
  border: none;
  border-radius: 8px;
  font-family: $src_code_pro;
  font-size: 10px;
  margin-bottom: 8px;
  margin-right: 4px;
}

h3 {
  color: $sd_title;
  font-family: $inter;
}

p {
  font-family: $inter;
  font-size: 13px;
  color: $sd_title;
  max-height: 160px;
  overflow: hidden;
  margin-top: 8px;
  margin-bottom: 18px;
}

.read_href {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 8px;
  margin-right: 10px;
  color: $sd_href;
  font-family: $inter;
  font-size: 14px;
  text-decoration: none;

  &:hover {
    color: $crd-box-shadow;
  }
}