.content {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;

    #particles-js {
        width: 1000%;
        height: 100%;
        padding-bottom: 0;
        position: absolute;
        mix-blend-mode: screen;
        background: linear-gradient(135deg, #2b1d36, #26162b, rgb(58, 33, 58), #29192d, rgb(59, 34, 59));

            @media (max-width: 991px) {
                height: 100vw;
                width: 100vw;
            }
    }
}

.header_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: $src_code_pro;
    padding: 10px 20px;
    z-index: 2;
    background: radial-gradient(circle, rgb(251, 251, 251) 20%, rgb(255, 255, 255) 47%, rgb(255, 255, 255) 57%, rgb(255, 255, 255) 66%, rgb(255, 255, 255) 88%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    &:hover {
        transition: transform 0.3s ease;
        transform: translate(-50%, -65%);
    }
}