.content {
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;

    .header_video {
        z-index: -999;
        width: 1000%;
        height: 100%;
        padding-bottom: 56.25%;
        position: absolute;

        iframe {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0%;
            bottom: 0%;
            left: 0%;
            right: 0%;

            @media (max-width: 991px) {
                height: 100vw;
                width: 100vw;
            }
        }
    }
}

.header_title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
    font-family: $src_code_pro;
    padding: 10px 20px;
    z-index: 2;
    background: radial-gradient(circle, rgba(32,103,143,1) 20%, rgba(15,86,122,1) 47%, rgba(17,82,113,1) 57%, rgba(37,98,125,1) 66%, rgba(36,63,130,1) 88%);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;

    &:hover {
        transition: transform 0.3s ease;
        transform: translate(-50%, -65%);
    }
}